<div id="form_add_gasto">
<h3>Agregar gasto</h3>

<form [formGroup]="addGastoForm" (ngSubmit)="onSubmit(addGastoForm.value)">

  <div>
    <label for="nombre">
      Nombre
    </label>
    <input id="nombre" type="text" formControlName="nombre">
  </div>

  <div>
    <label for="monto">
      Monto
    </label>
    <input id="monto" type="text" formControlName="monto">
  </div>

  <div>
    <label for="rubro">
      rubro
    </label>

<select formControlName="rubro" [(ngModel)]="myDropDown" (ngModelChange)="onChangeofOptions($event)">
    <option disabled value="null" selected>Seleccione un rubro</option>
    <option *ngFor="let rubro of rubros"  value={{rubro.id}}>{{rubro.nombre}}</option>
</select>
<!--//*<input [hidden]="myDropDown !=='two'"type="text">*//-->

    <!--//*<input id="rubro" type="text" formControlName="rubro">*//-->
  </div>
<br>
  <h3 *ngIf="errMsg">{{errMsg}}</h3>
<br>
  <button class="button" type="submit">Agregar</button>
</form>
</div>